@font-face {
    font-family: 'Spiegel';
    src: url('../assets/fonts/spiegel-regular.otf');
}

@font-face {
    font-family: 'TitlesFont';
    src: url('../assets/fonts/titles.otf');
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Spiegel';
    cursor: url('../assets/cursor.png'), auto;
}

body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'TitlesFont';
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100%;
}

header {
    height: 10%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    min-height: 80%;
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.3);
}

.background-screen {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video::-webkit-media-controls {
    display: none !important;
}

.about {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 1;
}

.about.visible {
    opacity: 1;
    visibility: visible;
}

.blur {
    transition: 0.2s;
    filter: blur(1px)
}

.about__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.about__app {
    width: 500px;
    height: 500px;
    background-color: #010A13;
    z-index: 2;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about__text {
    color: #C8AA6E;
    text-align: center;
}

.about__link {
    color: #C8AA6E;
    cursor: url('../assets/cursor-pointer.png'), auto;
}

.about__link:hover {
    text-decoration: none;
}

.about__button {
    margin-top: auto;
    color: #F0E6D2;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: url('../assets/cursor-pointer.png'), auto;
    transition: 0.3s;
}

.about__button:hover {
    color: #C8AA6E;
}

.navigation {
    height: 100%;
}

.navigation__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    list-style: none;
    align-items: center;
    column-gap: 40px;
    padding: 0 40px;
}

.navigation__item {
    font-family: 'Spiegel';
    font-size: 24px;
    color: #F0E6D2;
    cursor: url('../assets/cursor-pointer.png'), auto;
    transition: 0.3s;
    font-size: 24px;
    text-shadow: 1px 1px 2px #06192c;
}

.navigation__item:hover {
    color: #C8AA6E
}

.item__application {
    margin-left: auto;
}

.hovered {
    color: #C8AA6E;
}

.footer__list {
    display: flex;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100%;
    padding: 0 40px;
}

.footer__item {
    color: #A09B8C;
}

.github__logo,
.rsschool__logo {
    opacity: 0.7;
    cursor: url('../assets/cursor-pointer.png'), auto;
    transition: 0.3s;
}

.github__logo:hover,
.rsschool__logo:hover {
    opacity: 1;
    cursor: url('../assets/cursor-pointer.png'), auto;
}

.main {
    padding: 0 40px;
}

.wrapper__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* gallery */

main {
    overflow: hidden;
    height: 80%;
    border-bottom: 2px solid rgba(155, 156, 170, 0.795);
    border-top: 1px solid rgba(155, 156, 170, 0.795);
}

.gallery__wrapper {
    width: 100vw;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    z-index: 1;
}

.gallery__wrapper.visible {
    opacity: 1;
    visibility: visible;
}

.gallery__container {
    background-color: #06192c85;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    overflow: auto;
    width: 100%;
}

.gallery__container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.gallery__container::-webkit-scrollbar-thumb {
    background-color: #c89c3c88;
    border-radius: 100px;
}

.gallery__container.transform {
    transform: scale(1.0);
}

.gallery__close-btn {
    width: 20px;
    min-height: 20px;
    margin: 20px 20px 0 auto;
    background-color: transparent;
    border: none;
    background: url('../assets/buttons/close-icon.svg');
    background-size: contain;
    opacity: 0.4;
    transition: 0.2s;
    cursor: url(../assets/cursor-pointer.png), auto;
}

.gallery__close-btn:hover {
    opacity: 0.8;
}

.gallery__title {
    text-align: center;
    color: #C8AA6E;
    font-size: 42px;
    text-shadow: 1px 1px 2px #010A13;
}

.gallery__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.champs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.gallery__champ {
    width: 1000px;
    height: 220px;
    border: 2px solid rgba(132, 134, 153, 0.336);
    border-radius: 20px;
    background-color: #00000050;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.champ {
    display: flex;
    padding: 10px;
    column-gap: 10px;
}

.champ__splash-wrapper {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid rgba(132, 134, 153, 0.336);
    background-size: cover !important;
}

.champ__splash {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.champ__name {
    width: 500px;
    margin: 0;
    font-size: 22px;
    font-family: 'TitlesFont';
    color: #C8AA6E;
    margin: 0;
    margin-top: 5px;
}

.champ__info {
    width: 700px;
    font-size: 14px;
    color: #C8AA6E;
    margin-top: 5px;
}

.gallery__player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-voice {
    background: url('../assets/buttons/play.svg');
    width: 25px;
    height: 25px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: url('../assets/cursor-pointer.png'), auto;
    margin-right: 10px;
}

.pause {
    background: url('../assets/buttons/pause.svg');
}

.voice-progress {
    width: 600px;
    height: 4px;
    appearance: none;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(189, 174, 130) 0%, rgb(189, 174, 130) 0%, rgb(200, 200, 200) 0%, rgb(200, 200, 200) 100%);
    cursor: url('../assets/cursor-pointer.png'), auto;
}

.voice-progress::-webkit-slider-thumb {
    background: #ffffff;
    border-radius: 10px/100%;
    width: 10px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    cursor: url('../assets/cursor-pointer.png'), auto;
}


@media (max-width: 620px) {

    .wrapper {
        padding: 0 10px;
    }

    .navigation__list {
        padding: 0;
    }

    .navigation__item {
        font-size: 18px;
    }

    .results__list{
        padding: 0;
    }

    .footer__list {
        padding: 0;
    }

    .about__app {
        width: 300px;
    }

    .about__text {
        font-size: 14px;
    }

    .about__button {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    
    .gallery__champ {
        height: 600px;
    }
    .champ {
        flex-direction: column;
        align-items: center;
    }

    .champ__name {
        width: auto;
        text-align: center;
    }

    .champ__info {
        width: 300px;
        text-align: center;
        padding: 0 10px;
    }

    .voice-progress{
        width: 250px;
    }

    .gallery__container {
        overflow-x: hidden;
    }
}